p {
    font-family: 'Raleway';
    margin: 1.66%;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    width: 30%;
    border-bottom: solid 2px #f1f1f1;
    padding-bottom: 30px;
}

img {
    width: 30%;
    float: left;
    margin: 1.66%;
}
